.footer {
    background-color: var(--bck-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-links);
}

.logo-footer-second {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--white-color);
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.menu-item:not(:last-child) {
    margin-bottom: 9px;
}

.place {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-color);
}

.address-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            color: var(--color-links);
        }
}



.phone-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            color: var(--color-links);
        }
}

.whole-footer {
    display: flex;
    align-items: baseline;
}


.footer-addresses {
    margin-right: 70px;
}

.footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.footer-menu-icons {
    display: flex;
    gap: 10px;
}

.footer-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
       &:focus {
            background-color: var(--color-links);
            color: var(--white-color);
        }
}

.footer-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}