.occupation {
    padding-bottom: 94px;
}

.occupation-menu {
    display: flex;
    gap: 30px;
}

.occupation__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--black-color);

    margin-bottom: 50px;
}

.occupation-menu__item {
    position: relative;
    overflow: hidden;
}


.occupation-menu__title {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .occupation-menu__item:hover & {
            transform: translateY(0%);
        }
}