.button-menu {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}


.main-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;

    color: var(--main-black);
    background-color: rgba(245, 244, 250, 1);
    border: var(--white-color);
    border-radius: 4px;
    padding: 6px 25px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            color: var(--white-color);
            background-color: var(--color-links);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}


.secondary-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: var(--main-black);

    background-color: rgba(245, 244, 250, 1);
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    border: var(--white-color);
    padding: 6px 22px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
       &:focus {
            color: var(--white-color);
            background-color: var(--color-links);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }
}

.menu-results {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.results-item {
    width: 370px;
}

.results-card {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

}

.work-description {
    padding: 20px 24px;
    border: 1px solid var(--our-works-icons);
    border-top: none;
    background-color: var(--white-color);
}

.results-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--main-black);
    margin-bottom: 4px;
}

.results-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-grey);
}

.results-card-photo-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay-card {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    padding: 63px 24px;
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

.results-card:hover &,
    .results-card:focus & {
        transform: translateY(0%);
    }
}