/* основний колір #2196F3 */
/* основний чорний колір #212121 */
/* колір тексту #757575 */
/* білий колір #FFFFFF */
:root {
    --color-links: #2196F3;
    --text-color: #757575;
    --white-color: #FFFFFF;
    --black-color: #212121;
    --full-black: #000000;
    --bck-color: #2F303A;
    --our-works-icons: #EEEEEE;
    --bckgrd-color-second: #F5F4FA;
    --hero-bcg: #C4C4C4;
    --media-icons: #AFB1B8;
    /* змінні для сторінки портфоліо */
    --main-black: rgba(33, 33, 33, 1);
    --secondary-grey: rgba(117, 117, 117, 1);
}